/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 20, 2017, 3:24:58 PM
    Author     : bilal
    Created on : Apr 28, 2021, 2:55:03 PM
    Author     : niszlo	
*/

* {
	border: 0;
	margin: 0;
	padding: 0;
}

.icons {
	width: 35px;
	max-height: 35px;
}
.menus {
	width: 35px;
}

.overall-menu {
	display: none;
	position: absolute;
	z-index: 5;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
}
#right-menu {
	padding-right: 35px;
	background: #eee;
	width:60%;
	height:100%;
	position: absolute;
	right: 0;
	top: 0;
}
.catmenu, #right-menu a {
	margin: 3% 4%;
	display: inline-block;
	font-weight: bolder;
	line-height: 0;
}
#right-menu a, #right-menu a:hover, #right-menu a:visited, #right-menu a:link, #right-menu a:active {
	text-decoration: none;
	color: black;
	display: inline-block;
}
#right-menu hr {
	margin: 3px;
	padding: 0;
}
#left-menu {
	background-color: rgba(128, 128, 128, 0.5);
	width:50%;
	height:100%;
	position: absolute;
	left: 0;
	top: 0;	

}
#outburger {
	position: absolute;
	right: 0;
	top: 0;
	margin: 7px;
	z-index: 3;
}

.top-bar ul  {
	padding:0.2rem;
	background-color: transparent;
	margin-left: 12px;
}
.top-bar {
	height: 50px;
	padding:0.2rem;
	background-color: black;
	background-image: url('../../includes/lib/img/logo.png');
	background-size: 35px;
	background-position: 0px 5px;
	background-repeat: no-repeat;
}
.top-bar ul li {
    color: white;
}
.top-bar-right {
	position: absolute;
	z-index: 4;
	top: 0;
	right: 0;
	margin: 7px;
}

.callout.primary {
	height: 50px;
    background-color: #c02026;
	color: white;
}
.callout.large {
	padding: 0.5rem 0 0 0;
	margin: 0;
}
.description {
	font-size:1.1rem;
}
div.row.column.text-center {
	padding: 0;
}

.thumbnail {
	border: 0;	
}
#main-content .thumbnail {
    width: 100%;
    height: 250px;
    background-size: cover;
    display: flow-root list-item;	
}

h3 {
    font-size: 1rem;
	font-weight: bolder;
}
h3 small {
	background: #c02026;
	color: white;
}

.callout {
	background: black;
	padding:0.1rem;
}
.callout ul li {
	color: white;	
	text-transform: capitalize;
	font-style: italic;
}

.button {
	background: #c02026;
}
.button:hover {
	background: #c02026;
}

#main-content .blog-post, #main-content .audio, #main-content .video {
	list-style-type: none;
	display:inline-block;
	width:31%;
	margin:1%;
}
#main-content .audio .link, #main-content .video .page {
	display: none;
}
@media (max-width: 850px) {
	#main-content .blog-post, #main-content .audio , #main-content .video {
		width:47%;
		margin:1%
	}
	@media (max-width: 425px) {
		#main-content .blog-post, #main-content .audio , #main-content .video {
			width:95%;
			margin:1%
		}
		.description {
			font-size:1rem;
		}
		#right-menu {
			width:70%;
		}
		#left-menu {
			width:30%;
		}
	}
}
#main-content .audio .media h3, #main-content .video .media h3 {
	color : black;
}

#main-content .c453, #main-content .c464 {
	display: none !important;
}

#searchform{
	height: 40px;
	padding-right: 5px;
	display: none;
}
.searchblock {
	float: right;
	height: 40px;
	margin: 0;
}
#keyword {
	max-width: 50%;
	height: 30px;
	color : white;
	font-weight: bold;
	background : none;
	border: 3px solid white;
	border-radius: 3px;
	margin: 5px 5px 0 0;
}

.shareimg {
	width: 35px;
	margin: 10px;
}