/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 20, 2017, 3:24:58 PM
    Author     : bilal
    Created on : Apr 28, 2021, 2:55:03 PM
    Author     : niszlo	
*/

.top-bar, .top-bar ul  {
    background-color: black;
	padding:0.2rem;
}
.top-bar ul li {
    color: white;
}

.callout.primary {
    background-color: #c02026;
	color: white;
}
.callout.large {
	padding:0.5rem;
}
.description {
	font-size:1.25rem;
}

.thumbnail {
	border: 0;	
}
#main-content .thumbnail {
    width: 100%;
    height: 250px;
    background-size: cover;
    display: flow-root list-item;	
}

h3 {
    font-size: 1rem;
	font-weight: bolder;
}
h3 small {
	background: #c02026;
	color: white;
}

.callout {
	background: black;
	padding:0.1rem;
}
.callout ul li {
	color: white;	
	text-transform: capitalize;
	font-style: italic;
}

.button {
	background: #c02026;
}
.button:hover {
	background: #c02026;
}

#main-content .blog-post {
	list-style-type: none;
	display:inline-block;
	width:31%;
	margin:1%
}
@media (max-width: 850px) {
	#main-content .blog-post {
		width:47%;
		margin:1%
	}
	@media (max-width: 425px) {
		#main-content .blog-post {
			width:95%;
			margin:1%
		}
	}	
}